@media only screen and (min-width: 601px) {
a {
    color: orange;
  }

  p {
    font-family: Georgia, serif;
    color: lightpink;
  }

  table, th, td {
    border: 1px solid;
  }

  ul {
    margin-bottom: 15px; 
  }

  li {
    list-style-type: circle;
  }

  h1 {
    font-family: Georgia, serif;
    color: lightblue;
  }

  span{
    font-weight: bolder;
    font-style: oblique;
  }
  
  div{
  background-color: lightblue; 
  padding: 10px;
  border: 5px solid lightpink; 
  border-radius: 5px; 
  margin-bottom: 10px; 
  font-size: medium;
  }

  label {
    font-weight: normal;
    color: lightblue;
  }
}
  